
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url("../assest/images/developer.png"),url("../assest/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* style primary  */
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #fff8f3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style-type: none;
    margin-right: 50px;

}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 80px;
}
.banner-description{
    font-size: 18px;
}
.banner-profile-pic{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
/* main style  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* About  */
.about{
    border-radius: 10px;
    padding: 100px 150px;
    text-align: center;
    
}
.item-description{
    font-weight: 600;

}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.item-title{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.about-box{
    width: 800px;
    background-color: white;
    padding:10px;
    border: 1px solid rgba(41, 39, 39, 0.849);
}
/* skills-container  */
.skills-container{
    display: flex;
    gap: 30px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,.06);
}
/* resume section  */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
}
.resume-download-cv{
    margin-top: 50px;
}
/* footer style  */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
/* responsive */
.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .skills-container,.resume-container,footer{
        flex-direction: column;
    }
    .resume-container{
        padding: 20px;
    }
    footer{
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
}